<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Documentation of Back-End</title>
</head>
<body>
    <div  class="container">
        <div class="div1">
            <h2>End Point</h2>
            <h2>Method</h2>
            <h2>Where to send</h2>
            <h2>Format to be sent</h2>
        </div>
        <div class="div1">
        <div class="div2">    
            <li>/cadastro</li>
            <li>/login</li>
            <li>/logout(in Developing)</li>
            <li>/token</li>
            <li>/protected</li>
        </div>
        <div class="div2">    
            <li>POST</li>
            <li>POST</li>
            <li>POST</li>
            <li>POST</li>
            <li>GET</li>
        </div>
        <div class="div2">    
            <li>JSON</li>
            <li>JSON</li>
            <li>JSON</li>
            <li>JSON</li>
            <li>Baere_token</li>
        </div>
        <div class="div2">    
            <a href="modelo_cadastro.html" target="_blank" rel="noopener noreferrer"><li>JSON</li></a>
            <a href="modelo_login.html" target="_blank" rel="noopener noreferrer"><li>JSON</li></a>
            <a href="modelo_logout.html" target="_blank" rel="noopener noreferrer"><li>JSON</li></a>
            <a href="modelo_token.html" target="_blank" rel="noopener noreferrer"><li>JSON</li></a>
            <a href="modelo_protected.html"><li>just a token</li></a>
        </div>
    </div>
    </div>
</body>
    