<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Back-End</title>
</head>
<body>
    <div>
        <h1>BACK-END PYTHON</h1>
        <a href="documentation.html" target="_blank" rel="noopener noreferrer"><button>Acessar Documentação do BACK-END</button></a>
    </div>
    <div>
        <h1>GRUPO 2</h1>
        <h2>Tecnologias Utilizadas:</h2>
        <h3>Flask - Desenvolvimento Back-End</h3>
        <h3>Next.js - Desenvolvimento Front-End</h3>
        <h3>MySQL -  Banco de Dados</h3>
        <h3>Insomnia - Teste de End-Points</h3>
    </div>
    <h4>Alunos:</h4><h4>
        <br>João Luis Berute Ribeiro
        <br>Kauan Vieira Xavier
        <br>Lucas Domingos da Silva Miranda
        <br>Nicolas Eduardo Teixeira de Assis
        <br>João Marcellus Peçanha Rosa
        <br>Marcio Josué Carlevário
        <br>Mohamed Lobo Azevedo
        </h4>
   
    
</body>
</html>