<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modelo_cadastro</title>
</head>
<body>
    {
        "nome": "test",
        "senha":"sejhadjkha5sjsdkh546532$$",
        "email": "email@teste1.com",
        "telefone": "",
        "endereco":"",
        "cidade":"",
        "estado":"",
        "pais":"",
        "cep":"",
        "cpf": "12345678910",
        "rg":null,
        "data_nascimento":null,
        "sexo": null,
        "estado_civil":null,
        "profissao":"",
        "salario":0.0,
        "escolaridade":null,
        "idioma":"",
        "habilidades":"",
        "experiencia":"",
        "objetivo":"",
        "foto":"",
        "curriculo":""
    }
</body>
</html>